name: Build and Test

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    name: Windows
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v5

      - name: Setup tools cache
        uses: actions/cache@v4
        id: tools-cache
        with:
          path: C:\hostedtoolcache
          key: ${{ runner.os }}-tools-${{ hashFiles('**/.github/workflows/build.yml') }}
          restore-keys: ${{ runner.os }}-tools-

      - name: Setup MSBuild.exe
        uses: microsoft/setup-msbuild@v2

      - name: Setup VSTest.exe
        uses: darenm/Setup-VSTest@v1.3

      - name: Build with MSBuild
        run: msbuild ConsolePacman.sln /p:WindowsTargetPlatformVersion=10.0

      - name: Run tests
        run: vstest.console .\x64\Debug\ConsolePacmanTests.dll


